<?php
/**
 * Receive_sideApi
 * PHP version 5
 *
 * @category Class
 * @package  rcvs_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Receive Side Callback API
 *
 * To facilitate the implementation of mVisa, Visa provides mVisa Receive Side API specifications to clients who implement a set of outbound RESTful APIs (Receive Side APIs) so that Visa can call these APIs to request clients to process the transactions over the Internet.
 *
 * OpenAPI spec version: v1
 * Contact: 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace rcvs_100\api;

use \rcvs_100\ApiClient;
use \rcvs_100\ApiException;
use \rcvs_100\Configuration;
use \rcvs_100\ObjectSerializer;

/**
 * Receive_sideApi Class Doc Comment
 *
 * @category Class
 * @package  rcvs_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class Receive_sideApi
{
    /**
     * API Client
     *
     * @var \rcvs_100\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \rcvs_100\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\rcvs_100\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \rcvs_100\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \rcvs_100\ApiClient $apiClient set the API client
     *
     * @return Receive_sideApi
     */
    public function setApiClient(\rcvs_100\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation postcashIn
     *
     * 
     *
     * @param \rcvs_100\model\CashInpostPayload $cash_inpost_payload Request body for Receive Cash-In API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return \rcvs_100\model\CashInpostResponse
     */
    public function postcashIn($cash_inpost_payload)
    {
        list($response) = $this->postcashInWithHttpInfo($cash_inpost_payload);
        return $response;
    }

    /**
     * Operation postcashInWithHttpInfo
     *
     * 
     *
     * @param \rcvs_100\model\CashInpostPayload $cash_inpost_payload Request body for Receive Cash-In API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return array of \rcvs_100\model\CashInpostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postcashInWithHttpInfo($cash_inpost_payload)
    {
        // verify the required parameter 'cash_inpost_payload' is set
        if ($cash_inpost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $cash_inpost_payload when calling postcashIn');
        }
        // parse inputs
        $path = "/visadirect/v1/pushpayment/transactions/receive/ci";
        $resourcePath = "pushpayment/transactions/receive/ci";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($cash_inpost_payload)) {
            $_tempBody = $cash_inpost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\rcvs_100\model\CashInpostResponse',
                '/visadirect/v1/pushpayment/transactions/receive/ci'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\rcvs_100\model\CashInpostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\rcvs_100\model\CashInpostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postcashIn_0
     *
     * 
     *
     * @param \rcvs_100\model\CashInpostPayload $cash_inpost_payload Request body for Receive Cash-Out API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return \rcvs_100\model\CashInpostResponse
     */
    public function postcashIn_0($cash_inpost_payload)
    {
        list($response) = $this->postcashIn_0WithHttpInfo($cash_inpost_payload);
        return $response;
    }

    /**
     * Operation postcashIn_0WithHttpInfo
     *
     * 
     *
     * @param \rcvs_100\model\CashInpostPayload $cash_inpost_payload Request body for Receive Cash-Out API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return array of \rcvs_100\model\CashInpostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postcashIn_0WithHttpInfo($cash_inpost_payload)
    {
        // verify the required parameter 'cash_inpost_payload' is set
        if ($cash_inpost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $cash_inpost_payload when calling postcashIn_0');
        }
        // parse inputs
        $path = "/visadirect/v1/pushpayment/transactions/receive/co";
        $resourcePath = "pushpayment/transactions/receive/co";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($cash_inpost_payload)) {
            $_tempBody = $cash_inpost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\rcvs_100\model\CashInpostResponse',
                '/visadirect/v1/pushpayment/transactions/receive/co'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\rcvs_100\model\CashInpostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\rcvs_100\model\CashInpostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postciAdvice
     *
     * 
     *
     * @param \rcvs_100\model\CiAdvicepostPayload $ci_advicepost_payload Request body for Receive Cash-In Advice API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return \rcvs_100\model\CiAdvicepostResponse
     */
    public function postciAdvice($ci_advicepost_payload)
    {
        list($response) = $this->postciAdviceWithHttpInfo($ci_advicepost_payload);
        return $response;
    }

    /**
     * Operation postciAdviceWithHttpInfo
     *
     * 
     *
     * @param \rcvs_100\model\CiAdvicepostPayload $ci_advicepost_payload Request body for Receive Cash-In Advice API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return array of \rcvs_100\model\CiAdvicepostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postciAdviceWithHttpInfo($ci_advicepost_payload)
    {
        // verify the required parameter 'ci_advicepost_payload' is set
        if ($ci_advicepost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $ci_advicepost_payload when calling postciAdvice');
        }
        // parse inputs
        $path = "/visadirect/v1/pushpayment/advice/receive/ci";
        $resourcePath = "pushpayment/advice/receive/ci";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($ci_advicepost_payload)) {
            $_tempBody = $ci_advicepost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\rcvs_100\model\CiAdvicepostResponse',
                '/visadirect/v1/pushpayment/advice/receive/ci'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\rcvs_100\model\CiAdvicepostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\rcvs_100\model\CiAdvicepostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postcoAdvice
     *
     * 
     *
     * @param \rcvs_100\model\CoAdvicepostPayload $co_advicepost_payload Request body for Receive Cash-Out Advice API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return \rcvs_100\model\CoAdvicepostResponse
     */
    public function postcoAdvice($co_advicepost_payload)
    {
        list($response) = $this->postcoAdviceWithHttpInfo($co_advicepost_payload);
        return $response;
    }

    /**
     * Operation postcoAdviceWithHttpInfo
     *
     * 
     *
     * @param \rcvs_100\model\CoAdvicepostPayload $co_advicepost_payload Request body for Receive Cash-Out Advice API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return array of \rcvs_100\model\CoAdvicepostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postcoAdviceWithHttpInfo($co_advicepost_payload)
    {
        // verify the required parameter 'co_advicepost_payload' is set
        if ($co_advicepost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $co_advicepost_payload when calling postcoAdvice');
        }
        // parse inputs
        $path = "/visadirect/v1/pushpayment/advice/receive/co";
        $resourcePath = "pushpayment/advice/receive/co";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($co_advicepost_payload)) {
            $_tempBody = $co_advicepost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\rcvs_100\model\CoAdvicepostResponse',
                '/visadirect/v1/pushpayment/advice/receive/co'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\rcvs_100\model\CoAdvicepostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\rcvs_100\model\CoAdvicepostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postreceiveP2M
     *
     * 
     *
     * @param \rcvs_100\model\ReceiveP2MpostPayload $receive_p2_mpost_payload Request body for Receive Person-to-Merchant API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return \rcvs_100\model\ReceiveP2MpostResponse
     */
    public function postreceiveP2M($receive_p2_mpost_payload)
    {
        list($response) = $this->postreceiveP2MWithHttpInfo($receive_p2_mpost_payload);
        return $response;
    }

    /**
     * Operation postreceiveP2MWithHttpInfo
     *
     * 
     *
     * @param \rcvs_100\model\ReceiveP2MpostPayload $receive_p2_mpost_payload Request body for Receive Person-to-Merchant API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return array of \rcvs_100\model\ReceiveP2MpostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postreceiveP2MWithHttpInfo($receive_p2_mpost_payload)
    {
        // verify the required parameter 'receive_p2_mpost_payload' is set
        if ($receive_p2_mpost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $receive_p2_mpost_payload when calling postreceiveP2M');
        }
        // parse inputs
        $path = "/visadirect/v1/pushpayment/transactions/receive/p2m";
        $resourcePath = "pushpayment/transactions/receive/p2m";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($receive_p2_mpost_payload)) {
            $_tempBody = $receive_p2_mpost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\rcvs_100\model\ReceiveP2MpostResponse',
                '/visadirect/v1/pushpayment/transactions/receive/p2m'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\rcvs_100\model\ReceiveP2MpostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\rcvs_100\model\ReceiveP2MpostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postreceiveP2MAdvice
     *
     * 
     *
     * @param \rcvs_100\model\ReceiveP2MAdvicepostPayload $receive_p2_m_advicepost_payload Request body for Receive Person-to-Merchant Advice API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return \rcvs_100\model\ReceiveP2MAdvicepostResponse
     */
    public function postreceiveP2MAdvice($receive_p2_m_advicepost_payload)
    {
        list($response) = $this->postreceiveP2MAdviceWithHttpInfo($receive_p2_m_advicepost_payload);
        return $response;
    }

    /**
     * Operation postreceiveP2MAdviceWithHttpInfo
     *
     * 
     *
     * @param \rcvs_100\model\ReceiveP2MAdvicepostPayload $receive_p2_m_advicepost_payload Request body for Receive Person-to-Merchant Advice API (required)
     * @throws \rcvs_100\ApiException on non-2xx response
     * @return array of \rcvs_100\model\ReceiveP2MAdvicepostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postreceiveP2MAdviceWithHttpInfo($receive_p2_m_advicepost_payload)
    {
        // verify the required parameter 'receive_p2_m_advicepost_payload' is set
        if ($receive_p2_m_advicepost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $receive_p2_m_advicepost_payload when calling postreceiveP2MAdvice');
        }
        // parse inputs
        $path = "/visadirect/v1/pushpayment/advice/receive/p2m";
        $resourcePath = "pushpayment/advice/receive/p2m";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($receive_p2_m_advicepost_payload)) {
            $_tempBody = $receive_p2_m_advicepost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\rcvs_100\model\ReceiveP2MAdvicepostResponse',
                '/visadirect/v1/pushpayment/advice/receive/p2m'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\rcvs_100\model\ReceiveP2MAdvicepostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\rcvs_100\model\ReceiveP2MAdvicepostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
/**
* --------------------------------------------------------------------------------
*
* © Copyright 2018 Visa. All Rights Reserved.
*
* NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
* and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
* rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
*
* By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
* (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
* programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
* THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
* FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
* --------------------------------------------------------------------------------
*/